* {
    box-sizing: border-box;
}

body {
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-top: -17px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header block */

.header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    padding: 26px 40px 28px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {}

.header__list {
    display: flex;
    flex-direction: row;
    /* default */
    justify-content: flex-start;
    /* default */
    gap: 94px;
}

/* .header__item + .header__item {
    margin-left: 94px;
} */

/* end header block */

/* hero block */

.hero {
    background: url("../assets/img/hero.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    color: white;
    text-align: center;
}

.hero__wrapper {
    margin: 0 auto;
    max-width: 1005px;
    padding: 72px 0 146px 0;
}

.hero__paragraph-1{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-top: -10px;
}

.hero__paragraph-2 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    margin-top: 27px;
}

.hero button {
    display: inline-block;
    width: 236px;
    padding: 16px 0;
    text-align: center;
    color: white;
    margin-top: 16px;
}

.hero__button-1 {
    border-radius: 30px;
    background: #FA4A0C;
    margin-left: 100px;

}

.hero__button-2 {
    border-radius: 30px;
    border: 1px solid #FFF;
    background-color: transparent;
    margin-left: 34px;
}

.hero button h3 {
    line-height: 0;
}
.hero__span{
    display: block;
}

/* end hero block */

